@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Jost&display=swap');

:root {
  --primary: #37AC5E;
  --primary-darker: #40826D;
  --secondary: orange;
}

* {
  font-family: "Belanosima", "Jost";
}

.text-primary {
  color: var(--primary) !important;
}

.font-jost {
  font-family: "Jost";
}

.font-belanosima {
  font-family: "Belanosima";
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.br-50p {
  border-radius: 50%;
}

.br-10 {
  border-radius: 10px;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.btn-primary {
  outline: none;
  border: none;
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-darker);
}

.btn-primary:focus {
  background-color: var(--primary-darker);
}

.border-primary {
  border-color: var(--primary) !important;
}